<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/partials.html :: styleHead"></head>

<body>
<main>
    <header th:include="partials/partials.html :: header"></header>
    <h1 style="text-align: center">Create Post</h1>

    <div class="container" id="formContainer">
        <form id="createForm" action="/post/create" method="POST">
            <div class="input-field">
                <input name="author" id="author" type="text" class="validate customInput">
                <label for="author" class="formLabel">Author Name</label>
            </div>
            <div class="input-field">
                <input name="title" id="title" type="text" class="validate customInput">
                <label for="title" class="formLabel">Title</label>
            </div>
            <div class="input-field">
                <input name="body" id="body" type="text" class="validate customInput">
                <label for="body" class="formLabel">Body</label>
            </div>
            <button>Submit</button>
        </form>
    </div>
</main>
<div th:replace="partials/partials.html :: scripts"></div>

</body>
</html>
