<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Parker is Creative!</title>
<head th:replace="partials/head :: header-links"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<header th:replace="partials/header :: header('Welcome to Parker is Creative!')"></header>


    <div>
        <h1>Nice to </h1><br>
        <h4 th:text="${post.title}"></h4>
        <p th:text="${post.body}"></p>
    </div>
<a th:href="@{|/posts/${post.id}/edit|}">Edit Post</a>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>

