
<!DOCTYPE html>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>

<div class="navigation" th:fragment="navbar">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>
    <nav class="navigation__nav" th:switch="${sessionScope.user}">
        <ul th:case="admin">Admin</ul>
        <li class="navigation__item"><a href="/" class="navigation__link"><span></span>Home</a></li>
        <li class="navigation__item"><a href="/donations" class="navigation__link"><span></span>Donations</a></li>
        <li class="navigation__item"><a href="/admindashboard" class="navigation__link"><span></span>Dashboard</a></li>
        <li class="navigation__item"><a href="/requests" class="navigation__link"><span></span>Requests</a></li>
        <li class="navigation__item"><a href="/pending" class="navigation__link"><span></span>Pending</a></li>
        <li class="navigation__item"><a href="/logout" class="navigation__link"><span></span>Logout</a></li>
        </ul>
        <ul th:case="user">User
            <li class="navigation__item"><a href="/" class="navigation__link"><span></span>Home</a></li>
            <li class="navigation__item"><a href="/userdashboard" class="navigation__link"><span></span>Dashboard</a></li>
            <li class="navigation__item"><a href="/donations" class="navigation__link"><span></span>Donations</a></li>
            <li class="navigation__item"><a href="/requests" class="navigation__link"><span></span>Requests</a></li>
            <li class="navigation__item"><a href="/logout" class="navigation__link"><span></span>Logout</a></li>
        </ul>
        <ul th:case="*">
            <li class="navigation__item"><a href="/" class="navigation__link"><span></span>Home</a></li>
            <li class="navigation__item"><a href="/signup" class="navigation__link"><span></span>Sign-Up</a></li>
            <li class="navigation__item"><a href="/login" class="navigation__link"><span></span>Login</a></li>
        </ul>
    </nav>
    <nav class="navigation__nav">
        <ul class="navigation__list">
            <!--            Thymeleaf has it's own switch. Instead of ul-->
            <!--            https://attacomsian.com/blog/thymeleaf-switch-statement-->

            <!--Visitor view-->
            <c:when test="${sessionScope.user == null}">
                <li class="navigation__item"><a href="/" class="navigation__link"><span></span>Home</a></li>
                <li class="navigation__item"><a href="/signup" class="navigation__link"><span></span>Sign-Up</a></li>
                <li class="navigation__item"><a href="/login" class="navigation__link"><span></span>Login</a></li>
            </c:when>
            <li class="navigation__item"><a href="/donations" class="navigation__link"><span></span>Donations</a></li>
            <!--User view-->
            <c:when test="${sessionScope.user == user}">
                <li class="navigation__item"><a href="/" class="navigation__link"><span></span>Dashboard</a></li>
                <li class="navigation__item"><a href="/requests" class="navigation__link"><span></span>Requests</a></li>
                <li class="navigation__item"><a href="/logout" class="navigation__link"><span></span>Logout</a></li>
            </c:when>
            <!--Admin view-->
            <c:otherwise>
                <li class="navigation__item"><a href="/pending" class="navigation__link"><span></span>Pending</a></li>
            </c:otherwise>
            </c:choose>
            <li class="navigation__item"><a href="/aboutus" class="navigation__link"><span></span>About Us</a></li>
        </ul>
    </nav>
</div>
</body>
</html>