<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>
<body>
<p>Enter data below</p>
<form action ="/createGender" method="post" th:object="${formData}">
    <p>Full name: <input th:field="${formData.fullName}" type="text"/></p>
    <p>Age: <input th:field="${formData.age}" type="text"/></p>
    <p>Employed: <input th:field="${formData.employed}" type="checkbox"/></p>
     <p>Choose Gender</p>
    <p>Male <input type="radio" th:field="${formData.gender}" th:value="Male"/>
      Female <input type="radio" th:field="${formData.gender}" th:value="Female"/></p>
    <p><input type="submit" value="Submit"/><input type="reset" value="Reset"/></p>
</form>

</body>
</html>