<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel=""shortcut icon" type="image/png" href="img/favicon.png">-->
    <title>Welcome to Parker Creative</title>
</head>
<body>
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->
<nav>
    <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/aboutme">About Me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/artwork">Art Work</a></li>
    </ul>
    <div class="button">
        <a class="btn-main" href="/sign-up">Sign up</a>
        <a class="btn-hot" href="/login">Login</a>
    </div>
</nav>
<header class="header">
    <div class="header_hookem">
        <img class="header_hook" th:src="@{/img/hookememoji.png}">
    </div>
    <div class ="header_text-box">
    <h1 class="heading-primary">
        <span class="heading-primary-main">CHRISTIAN PARKER</span>
        <span class="heading-primary-sub">fullstack developer</span>
    </h1>
    <a href="/posts" class="btn btn-white btn-animated">Read my posts</a>

        <p><em>
            I start out with an idea, and then it becomes something else...
        </em>
        </p>
        <p><em>
            -- Pablo Picasso
        </em>
        </p>
    </div>

</header>
<main>
    <section class="section-about">
        <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">About Me</h2>
            <p class="paragraph">I am an experienced professional with personable communicative abilities, great collaborative experiences, and creative problem-solving skills. No matter what the job, I have found a knack for integrating technology, art and project management into everything and feel as if web development was a natural progression for the next chapter of my life. I’m looking for an employment opportunity where I can add value by meshing my skill set into an organization that fosters personal and professional growth. </p>
        </div>
        <div class="row">
                    <div class="col-1-of-2">
                        <h3 class="heading-tertiary u-margin-bottom-small">Software Developer</h3>
                        <p class="paragraph">
                            For the last six months, I've been a student at Codeup in San Antonio, Texas. Codeup is a fully-immersive, project-based, intensive 22-week full-stack Java career accelerator that provides students with 670+ hours of expert instruction in software development.
                        <h3 class="heading-tertiary u-margin-bottom-small">Visual Studio Art/Digital Media Instructor</h3>
                        <p class="paragraph">
                            Over the last 12 years, I designed, developed and taught Pre-K3 - 12th grade Studio a Visual Arts curriculum (Drawing, Painting, Printmaking, Sculpture, Textiles and Weaving, Art History and Movie-Making) and Middle School and Upper School Digital Media Curriculum(Adobe Creative Suite, Google Sites, Graphic Design, Desktop Publishing, 3D Printing, 3D Modeling, Photography, Movie Making, Animation, Audio, Augmented Reality and Web Design). I
                            was responsible for budgeting, ordering, purchasing and inventorying materials and supplies for Elementary, Middle School and Upper School Art Programs. I
                            designed and delivered several professional development sessions on technology hardware and software integration in a traditional classroom on the department, school and district levels and at state and national conferences.
                        <p class="paragraph">
                            As an educator, I'm proud to say that I was the second art teacher ever recognized for exceptional collaboration in education by The Bill and Melinda Gates’ Foundation ECET2.
                        </p>

                            <button>
                            <a href="#" class="btn-text">Resume &rarr;</a>
                        </button>
                    </div>
                    <div class="col-1-of-2">
                        <div class="composition">

                            <img src="/img/Christian.jpeg" alt="Christian" class="composition_photo composition_photo-p2">
                            <img src="/img/window.JPG" alt="window" class="composition_photo composition_photo-p1">
                            <img src="/img/holi.JPG" alt="holi" class="composition_photo composition_photo-p3">
                        </div>

                    </div>
                </div>
    </section>

<!--    //////////////////////////////////////////////////////////-->
    <section class="section-features">

        <div class="row">
            <div class="col-1-of-5">
                <div class="feature-box">
                    <i class="feature-box_icon icon-basic-world"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Abby</h3>
                    <p class="feature-box_text">
                        Abby
                    </p>
                </div>
            </div>
            <div class="col-1-of-5">
                <div class="feature-box">
                    <i class="feature-box_icon icon-basic-heart"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Camryn</h3>
                    <p class="feature-box_text">
                        Camryn
                    </p>
                </div>
            </div>
            <div class="col-1-of-5">
                <div class="feature-box">
                    <i class="feature-box_icon icon-basic-world"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Mitchell</h3>
                    <p class="feature-box_text">
                        Mitchell
                    </p>
                </div>
            </div>
            <div class="col-1-of-5">
                <div class="feature-box">
                    <i class="feature-box_icon icon-basic-map"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Carley</h3>
                    <p class="feature-box_text">
                        Carley
                    </p>
                </div>
            </div>
            <div class="col-1-of-5">
                <div class="feature-box">
                    <i class="feature-box_icon icon-basic-compass"></i>
                    <h3 class="heading-tertiary u-margin-bottom-small">Alec</h3>
                    <p class="feature-box_text">
                        Alec </p>
                </div>
            </div>
        </div>
    </section>
    <section class="crack-dogs">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">Crack Dogs</h2>
    </div>
    <div class="row">

        <div class="col-1-of-2">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--1">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span card__heading-span--1">Quincy</span>
                    </h4>
                    <h4 class="card__details">
                        <ul>
                            <li>Terrier</li>
                            <li>white and black</li>
                            <li>37 pounds</li>
                            <li>Shots updated</li>
                            <li>Likes bones and walks</li>
                        </ul>
                    </h4>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                    <div class="card__cta">
                        <div class="card__dog-box">
                            <p class="card__dog-only">Quincy</p>
                            <p class="card__dog-lastNameValue">Parker</p>
                        </div>
                        <a href="#" class="btn btn--orange">Meet him now</a>
                    </div>
                </div>
            </div>
        </div>

<!--                /////////Baxter////////-->

        <div class="col-1-of-2">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--2">
                        &nbsp;
                    </div>
                    <h4 class="card__heading">
                        <span class="card__heading-span card__heading-span--2">Baxter</span>
                    </h4>
                    <h4 class="card__details">
                        <ul>
                            <li>Terrier</li>
                            <li>white</li>
                            <li>17 pounds</li>
                            <li>Shots updated</li>
                            <li>Loving</li>
                        </ul>
                    </h4>
                </div>
                    <div class="card__side card__side--back card__side--back-2">
                        <div class="card__cta">
                            <div class="card__dog-box">
                                <p class="card__dog-only">Baxter</p>
                                <p class="card__dog-lastNameValue">Parker</p>
                            </div>
                            <a href="#" class="btn btn--orange">Meet him now</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

        <div class="u-center-text u-margin-bottom-big">
            <a href="/" class="btn btn--orange">Head to the top</a>
        </div>
    </section>

    <section class="section-stories">
        <div class="u-center=text u-margin-bottom-big">
            <h2 class="heading-secondary">
                My Beautiful Wife
            </h2>
        </div>

        <div class="row">
            <div class="story">
            <figure class="story__shape">
                <img src="/img/brat.jpg" alt="blackchicken" class="story__img">
                <figcaption class="story__caption">Brat</figcaption>
            </figure>
                <div class="story__text">
                    <h3 class="heading-tertiary u u-margin-bottom-small">Lisa</h3>
                    <p class="story__text">
                        She is a beautiful, caring, responsible, loving woman with a fabulous sense of humor, who enjoys dancing, a delicious charcuterie board, cocktails, game night with the fam, and the lake. She is an extremely talented interior designer, who also does a fantastic job of renovating old homes in need of a refresh.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="story">
                <figure class="story__shape">
                    <img src="/img/happy.jpg" alt="Happily Married Couple" class="story__img">
                    <figcaption class="story__caption">Married Bliss</figcaption>
                </figure>
                <div class="story__text">
                    <h3 class="heading-tertiary u u-margin-bottom-small">Esperanza</h3>
                    <p class="story__text">
                        She is a beautiful, responsible, loving woman who enjoys dancing, cocktails, and the lake.

                    </p>
                </div>
            </div>
        </div>
    </section>
</main>


<!--<section class="grid-test">-->
<!--    <div class="row">-->
<!--        <div class="col-1-of-2">-->
<!--            Col 1 of 2-->
<!--        </div>-->
<!--        <div class="col-1-of-2">-->
<!--            Col 1 of 2-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-1-of-3">-->
<!--            Col 1 of 3-->
<!--        </div>-->
<!--        <div class="col-1-of-3">-->
<!--            Col 1 of 3-->
<!--        </div>-->
<!--        <div class="col-1-of-3">-->
<!--        Col 1 or 3-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-1-of-3">-->
<!--            Col 1 of 3-->
<!--        </div>-->
<!--        <div class="col-2-of-3">-->
<!--            Col 2 of 3-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-1-of-4">-->
<!--            Col 1 of 4-->
<!--        </div>-->
<!--        <div class="col-1-of-4">-->
<!--            Col 1 of 4-->
<!--        </div>-->
<!--        <div class="col-2-of-4">-->
<!--            Col 2 or 4-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-1-of-4">-->
<!--            Col 1 of 4-->
<!--        </div>-->
<!--        <div class="col-3-of-4">-->
<!--            Col 3 of 4-->
<!--        </div>-->
<!--    </div>-->


<!--</section>-->


</body>
</html>