<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Parker Creative</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="body">
<main>
    <div class="container center">
        <h1 style="text-align: center">Welcome to the Parker Creative</h1>
    </div>
    <div class="container center main-quote">
        <img class="quote" th:src="@{/img/quote.png}">
    </div>
    <div>
        <button class="quote" type ="submit" href="/home">Enter</button>
    </div>
</main>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>