<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    <link rel=""shortcut icon" type="image/png" href="img/favicon.png">-->
    <title>Welcome to Parker Creative</title>
</head>
<body>
<nav>
    <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/aboutme">About Me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/artwork">Art Work</a></li>
    </ul>
    <div class="button">
        <a class="btn-main" href="/sign-up">Sign up</a>
        <a class="btn-hot" href="/login">Login</a>
    </div>
</nav>

<h1 class="text-center">Please Log In</h1>

<form class="container" th:action="@{/login}" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" />
    </div>
    <input class="btn btn-block btn-primary" type="submit" value="Log In" />
</form>

<!--<div th:replace="partials/scripts :: scripts"></div>-->
<div th:replace="partials/footer :: footer"></div>
</body>
</html>