<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Christian Parker's Resume</title>
</head>
<body>

<div>
    <div class="container">
        <h1 style="text-align: center">Christian Parker</h1>
        <H2 style="text-align: center">Full Stack Software Developer</H2>
        <h3 style="text-align: center"><strong>Mobile: 512 689 1920 </strong> <strong>Email: Christianparker512@gmail.com </strong><strong> LinkedIn:  /in/kreyus </strong><strong> Github: christianparker512</strong></h3>
    </div>
    <div style="text-align: center">
    <hr>
    <h2><u>Technical Skills</u></h2>
    <table style="text-align: center">
        <tr>
        <th>HTML</th>
        <th>JavaScript</th>
        <th>CSS</th>
        <th>SASS</th>
        <th>jQuery</th>
        </tr>
        <tr>
            <th>TDD</th>
            <th>VCS with GIT</th>
            <th>Maven</th>
            <th>Apache TomCat</th>
            <th>MySQL</th>
        </tr>
        <tr>
            <th>JavaSE</th>
            <th>MVC</th>
            <th>JavaEE(Servlets,JSP)</th>
            <th>SpringBoot Framework</th>
            <th>Paired Programming</th>
        </tr>
    </table>
    </div>
    <hr>
    <h2 style="text-align: center"><u>Education</u></h2>

    <h3><u>Codeup</u></h3>
    <h4>San Antonio, Texas  2021</h4>
    <p>A fully-immersive, project-based, and intensive 22-week full-stack Java career accelerator that provides students with 670+ hours of expert instruction in software development.</p>
    <h3 class="school">The University of Texas</h3>
    <h4>San Antonio, Texas  1995</h4>
    <p>Bachelors of Science, Elementary Education</p>
    <p>Minor History</p>
    <h3><u>Teaching Certifications</u></h3>

</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>